$green: #45b29d;
$blue: #334d5c;
$blue-light: #5c6bc0;
$yellow: #efc94c;
$orange: #e27a3f;
$red: #df5a49;
$pink: #ef5350;
$grey: #e0e0e0;

.container {
  width: 80%;
  max-width: 2000px;
  margin: 0 auto;
}

#grid.container.short {
  width: 80%;
  margin-left: 10px;
}

.h-right {
  float: right;
}
